@charset 'UTF-8';

/*!

=========================================================
* Sistema de Ventas
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2020 Lights Thing (https://ligtsthing.net)

* Coded by lightsthing.net

*/


a {
    cursor: pointer;
}

.img-full {
    max-height: 520px;
    max-width: 100%;
}

.search {
    position: relative;
}

li.ui-menu-item {
    list-style: none;
    margin: 12px 20px;
    cursor: pointer;
    color: black;
    ;
}

li.ui-menu-item:hover {
    color: #5e72e4 !important;
}

.ui-menu {
    padding: 20px 0;
    top: 280px !important;
    width: 50% !important;
    height: 40vh;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    left: 300px !important;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 4px 0rem 1rem rgba(0, 0, 0, 0.27);
}

@media (max-width: 920px) {
    .ui-menu {
        top: 280px !important;
        width: 90% !important;
        height: 40vh;
        background: #fff;
        border-radius: 4px;
        position: absolute;
        left: 40px !important;
        transition: all 0.3s ease-in-out 0s;
        box-shadow: 4px 0rem 1rem rgba(0, 0, 0, 0.27);
    }
}

@media (max-width: 700px) {
    .ui-menu {
        top: 240px !important;
        width: 80% !important;
        height: 40vh;
        background: #fff;
        border-radius: 4px;
        position: absolute;
        left: 40px !important;
        transition: all 0.3s ease-in-out 0s;
        box-shadow: 4px 0rem 1rem rgba(0, 0, 0, 0.27);
    }
}

.list-client tr {
    cursor: pointer;
}

.list-client tr:hover {
    background-color: #f4f5f7;
}

.avatar img {
    height: inherit;
}

#fileProfile {
    visibility: hidden;
}

.label-profile {
    all: unset;
    cursor: pointer;
}

.label-profile:after {
    all: unset;
}

.header-profile {
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.card-profile-image img {
    height: 140px !important;
    width: 140px !important;
    object-fit: cover !important;
}